<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/bootstrap/css/bootstrap_comp.css">
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery.easyui.min.js"></script>
     <script type="text/javascript" src="/psls/ui/jquery-easyui/plugins/jquery.tooltip.js"></script>
    <style type="text/css">
      html,body{
        width:99%;
        height: 98%;
      }

    </style>
    <script type="text/javascript">
        var company_id="{*$company_id*}";
        var role_id="{*$role_id*}";
        var dept_id="{*$dept_id*}";
        function save(){

        	var ids="";
        	$("input[name='dept_checkbox']").each(function(){
        		var id=$(this).attr('id');
        		if($(this).attr("checked")){
        			ids+=id+";"
        		}
        	});
        	var url="/psls/sys_manage/department_info_c/assignUser";
        	$.post(url,{ids:ids,company_id:company_id,role_id:role_id,dept_id:dept_id},function(){
        		
        	});
        }
    	$(function(){
    		$('#tGrid').datagrid({
           title:'部门列表',
           pagination:true,
           url:'/psls/sys_manage/department_info_c/usergrid/{*$company_id*}/{*$dept_id*}/{*$role_id*}',
            columns:[
        		    [
						{field:"id",title:"选择",formatter:function(a,b,c){
							return '<input name="dept_checkbox" type="checkbox" id="'+b.id+'"/>';
						}},
						{field:"username",title:"用户名"},
						{field:"company_name",title:"公司名称"},
						{field:"department_name",title:"当前部门"},
						{field:"role_name",title:"当前角色"}
   		         	]
	         		]
        });
    		
    });
    </script>
</head>
<body>
<table id="tGrid" style="width:600px;height:350px">
</table>
</body>
</html>