<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/bootstrap/css/bootstrap_comp.css">
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery.easyui.min.js"></script>
     <script type="text/javascript" src="/psls/ui/jquery-easyui/plugins/jquery.tooltip.js"></script>
    <style type="text/css">
      html,body{
        width:99%;
        height: 98%;
      }
      td{
      	border-bottom:1px solid lightgrey;
      	border-right:1px solid lightgrey;
      	font-weight:bold;
      }
      table{
      	width:95%;
      	border:dotted 1px rgb(242,117,4)
      }
    </style>
    <script>

    var user_id="{*$user->getId()*}";
    var user_name="{*$user->getName()*}";
    
    function list(id){
    	var table=$('#'+id).attr('table');
    	var col=$('#'+id).attr('col');
    	var colid=$('#'+id).attr('idname');
    	$.post('/psls/userinterface/userinterface/getList/'+table+"/"+col+"/"+colid,function(data){
    		var json=eval('('+data+')');
    		var html="";
    		for(var i=0;i<json.length;i++){
    			var item=json[i];
    			html+="<option value='"+item[colid]+"'>"+item[col]+"</option>";
    		}
    		$('#'+id).html(html);
    	});
    }
    
    $(function() {
     });
    
    function save(){
      $("#tableid").submit();
    }
    
    </script>
</head>
<body>

<form id="tableid" action="/psls/sys_manage/picture_c/uploadPicture" method="post" enctype="multipart/form-data">
<table cellpadding=8>
<tr><td align="right">标题:</td><td><input id='title' style='width:200px;' name='title' type='text'/></td></tr>
<tr><td align="right">内容:</td><td><textarea id='content' style='width:300px;height:200px' name='content'></textarea></td></tr>
<tr><td align="right">图片来源:</td><td><input type="file" name="photo"></td></tr>
</table>
</form>
</body>
</html>