<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/bootstrap/css/bootstrap_comp.css">
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery.easyui.min.js"></script>
     <script type="text/javascript" src="/psls/ui/jquery-easyui/plugins/jquery.tooltip.js"></script>
    <style type="text/css">
      html,body{
        width:99%;
        height: 98%;
      }
      td{
      	border-bottom:1px solid lightgrey;
      	border-right:1px solid lightgrey;
      	font-weight:bold;
      }
      table{
      	width:95%;
      	border:dotted 1px rgb(242,117,4)
      }
    </style>
    <script>

    var user_id="{*$user->getId()*}";
    var user_name="{*$user->getName()*}";
    var id="{*$id*}";
    
    function list(id,setmethod){
    	var table=$('#'+id).attr('table');
    	var col=$('#'+id).attr('col');
    	var colid=$('#'+id).attr('idname');
    	$.post('/psls/userinterface/userinterface/getList/'+table+"/"+col+"/"+colid,function(data){
    		var json=eval('('+data+')');
    		var html="";
    		for(var i=0;i<json.length;i++){
    			var item=json[i];
    			html+="<option value='"+item[colid]+"'>"+item[col]+"</option>";
    		}
    		$('#'+id).html(html);
    		setmethod();
    	});
    }
    
    $(function() {
list("department_info_id",function(){
$('#department_info_id').attr('value','{*$obj["department_info_id"]*}');});
     });
    
    function save(){
var input_name= $("#name").val();var input_address= $("#address").val();var input_description= $("#description").val();var input_department_info_id= $("#department_info_id").val();    	var url='/psls/sys_manage/powersupply_unit_c/update/'+id;
    	$.post(url,{
name:input_name,address:input_address,description:input_description,department_info_id:input_department_info_id,    	},function(data){

    	});
    }
    
    </script>
</head>
<body>
<table cellpadding=8>
<tr><td align="right">供电所:</td><td><input id='name' style='width:200px;' name='name' value='{*$obj['name']*}' type='text'/></td></tr>
<tr><td align="right">地址:</td><td><input id='address' style='width:200px;' name='address' value='{*$obj['address']*}' type='text'/></td></tr>
<tr><td align="right">描述:</td><td><textarea id='description' style='width:300px;height:200px' name='description'>{*$obj['description']*}</textarea></td></tr>
<tr><td align="right">所属公司:</td><td><select id='department_info_id' name='department_info_id' table='department_info' col='department_name' idname='department_info_id' style='width:200px' ></select></td></tr>
</table>
</body>
</html>