<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/bootstrap/css/bootstrap_comp.css">
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery.easyui.min.js"></script>
     <script type="text/javascript" src="/psls/ui/jquery-easyui/plugins/jquery.tooltip.js"></script>
    <script type="text/javascript" src="/psls/ui/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
   
    <style type="text/css">
      html,body{
        width:99%;
        height: 98%;
      }
      td{
      	border-bottom:1px solid lightgrey;
      	border-right:1px solid lightgrey;
      	font-weight:bold;
      }
      table{
      	width:95%;
      	border:dotted 1px rgb(242,117,4)
      }
    </style>
    <script>

    var user_id="{*$user->getId()*}";
    var user_name="{*$user->getName()*}";
    var id="{*$id*}";
    
    function dictionary(id,setmethod){
    	var table=$('#'+id).attr('table');
    	$.post('/psls/userinterface/userinterface/getEnumList/'+table+"/"+id,function(data){
    		var json=eval('('+data+')');
    		var html="";
    		for(var i=0;i<json.length;i++){
    			var item=json[i];
    			html+="<option value='"+item[item['type']]+"'>"+item['name']+"</option>";
    		}
    		$('#'+id).html(html);
    		setmethod();
    	});
    	
    }
    
    function list(id,setmethod){
    	var table=$('#'+id).attr('table');
    	var col=$('#'+id).attr('col');
    	var colid=$('#'+id).attr('idname');
    	$.post('/psls/userinterface/userinterface/getList/'+table+"/"+col+"/"+colid,function(data){
    		var json=eval('('+data+')');
    		var html="";
    		for(var i=0;i<json.length;i++){
    			var item=json[i];
    			html+="<option value='"+item[colid]+"'>"+item[col]+"</option>";
    		}
    		$('#'+id).html(html);
    		setmethod();
    	});
    }
    
    $(function() {
list("role_id",function(){
$('#role_id').attr('value','{*$obj["role_id"]*}');});
list("department_info_id",function(){
$('#department_info_id').attr('value','{*$obj["department_info_id"]*}');});
list("status",function(){
$('#status').attr('value','{*$obj["status"]*}');});
     });
    
    function save(){
var input_account= $("#account").val();var input_password= $("#password").val();var input_name= $("#name").val();var input_role_id= $("#role_id").val();var input_department_info_id= $("#department_info_id").val();var input_gender= $("#gender").val();var input_birthdate= $("input[name=birthdate]").val();var input_status= $("#status").val();var input_contactnumber= $("#contactnumber").val();    	var url='/psls/sys_manage/tt_user_c/update/'+id;
    	$.post(url,{
account:input_account,password:input_password,name:input_name,role_id:input_role_id,department_info_id:input_department_info_id,gender:input_gender,birthdate:input_birthdate,status:input_status,contactnumber:input_contactnumber    	},function(data){

    	});
    }
    
    </script>
</head>
<body>
<table cellpadding=8>
<tr><td align="right">帐号:</td><td><input id='account' style='width:200px;' name='account' value='{*$obj['account']*}' type='text'/></td></tr>
<tr><td align="right">密码:</td><td><input id='password' style='width:200px;' name='password' value='{*$obj['password']*}' type='text'/></td></tr>
<tr><td align="right">姓名:</td><td><input id='name' style='width:200px;' name='name' value='{*$obj['name']*}' type='text'/></td></tr>
<tr><td align="right">角色:</td><td><select id='role_id' name='role_id' table='role' col='name' idname='id' style='width:200px' ></select></td></tr>
<tr><td align="right">所属部门:</td><td><select id='department_info_id' name='department_info_id' table='department_info' col='name' idname='id' style='width:200px' ></select></td></tr>
<tr><td align="right">性别:</td><td></td></tr>
<tr><td align="right">出生日期:</td><td><input class='easyui-datetimebox'  id='birthdate' style='width:200px' name='birthdate' value='{*$obj['birthdate']*}'/></td></tr>
<tr><td align="right">状态:</td><td><select id='status' name='status' table='status' col='name' idname='id' style='width:200px' ></select></td></tr>
<tr><td align="right">联系电话:</td><td><input id='contactnumber' style='width:200px;' name='contactnumber' value='{*$obj['contactnumber']*}' type='text'/></td></tr>
</table>
</body>
</html>