<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/bootstrap/css/bootstrap_comp.css">
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery.easyui.min.js"></script>
     <script type="text/javascript" src="/psls/ui/jquery-easyui/plugins/jquery.tooltip.js"></script>
      <script type="text/javascript" src="/psls/ui/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <style type="text/css">
      html,body{
        width:99%;
        height: 98%;
      }
      td{
      	border-bottom:1px solid lightgrey;
      	border-right:1px solid lightgrey;
      	font-weight:bold;
      }
      table{
      	width:95%;
      	border:dotted 1px rgb(242,117,4)
      }
    </style>
    <script>

    var user_id="{*$user->getId()*}";
    var user_name="{*$user->getName()*}";
 
    function list(id){
    	var table=$('#'+id).attr('table');
    	var col=$('#'+id).attr('col');
    	var colid=$('#'+id).attr('idname');
    	$.post('/psls/userinterface/userinterface/getList/'+table+"/"+col+"/"+colid,function(data){
    		var json=eval('('+data+')');
    		var html="";
    		for(var i=0;i<json.length;i++){
    			var item=json[i];
    			html+="<option value='"+item[colid]+"'>"+item[col]+"</option>";
    		}
    		$('#'+id).html(html);
    	});
    }
    
    function dictionary(id){
    	var table=$('#'+id).attr('table');
    	$.post('/psls/userinterface/userinterface/getEnumList/'+table+"/"+id,function(data){
    		var json=eval('('+data+')');
    		var html="";
    		for(var i=0;i<json.length;i++){
    			var item=json[i];
    			html+="<option value='"+item[item['type']]+"'>"+item['name']+"</option>";
    		}
    		$('#'+id).html(html);
    	});
    }
    
    $(function() {
dictionary("health_expense");
dictionary("disasters");
dictionary("event");
dictionary("martyr");
dictionary("poor_district");
dictionary("orphan");
dictionary("disabled");
dictionary("application_level");
     });
    
    function save(){
var input_student_id= $("#student_id").val();var input_children_count= $("#children_count").val();var input_labor_ratio= $("#labor_ratio").val();var input_health_expense= $("#health_expense").val();var input_disasters= $("#disasters").val();var input_event= $("#event").val();var input_martyr= $("#martyr").val();var input_poor_district= $("#poor_district").val();var input_average_income= $("#average_income").val();var input_orphan= $("#orphan").val();var input_disabled= $("#disabled").val();var input_expense= $("#expense").val();var input_application_level= $("#application_level").val();var input_application_date= $("input[name=application_date]").val();    	var url='/psls/identification/factor_c/add';
    	$.post(url,{
student_id:input_student_id,children_count:input_children_count,labor_ratio:input_labor_ratio,health_expense:input_health_expense,disasters:input_disasters,event:input_event,martyr:input_martyr,poor_district:input_poor_district,average_income:input_average_income,orphan:input_orphan,disabled:input_disabled,expense:input_expense,application_level:input_application_level,application_date:input_application_date,    	},function(data){

    	});
    }
    
    </script>
</head>
<body>
<table cellpadding=8>
<tr><td align="right">学号:</td><td><input id='student_id' style='width:200px;' name='student_id' type='text'/></td></tr>
<tr><td align="right">受教育子女数:</td><td><input class='easyui-numberspinner' data-options='increment:1' id='children_count' style='width:200px' name='children_count'/></td></tr>
<tr><td align="right">劳动力人口比:</td><td><input id='labor_ratio' style='width:200px;' name='labor_ratio' type='text'/></td></tr>
<tr><td align="right">家人患重病:</td><td><select id='health_expense' name='health_expense' table='factor' style='width:200px' ></select></td></tr>
<tr><td align="right">自然灾害:</td><td><select id='disasters' name='disasters' table='factor' style='width:200px' ></select></td></tr>
<tr><td align="right">突发事件:</td><td><select id='event' name='event' table='factor' style='width:200px' ></select></td></tr>
<tr><td align="right">烈士子女:</td><td><select id='martyr' name='martyr' table='factor' style='width:200px' ></select></td></tr>
<tr><td align="right">老少边穷:</td><td><select id='poor_district' name='poor_district' table='factor' style='width:200px' ></select></td></tr>
<tr><td align="right">人均收入:</td><td><input class='easyui-numberspinner' data-options='increment:1' id='average_income' style='width:200px' name='average_income'/></td></tr>
<tr><td align="right">事实孤儿:</td><td><select id='orphan' name='orphan' table='factor' style='width:200px' ></select></td></tr>
<tr><td align="right">残疾:</td><td><select id='disabled' name='disabled' table='factor' style='width:200px' ></select></td></tr>
<tr><td align="right">月消费数据:</td><td><input class='easyui-numberspinner' data-options='increment:1' id='expense' style='width:200px' name='expense'/></td></tr>
<tr><td align="right">申请等级:</td><td><select id='application_level' name='application_level' table='factor' style='width:200px' ></select></td></tr>
<tr><td align="right">申请日期:</td><td><input class='easyui-datetimebox'  id='application_date' style='width:200px' name='application_date'/></td></tr>
</table>
</body>
</html>