<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/icon.css">
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery.easyui.min.js"></script>
    <style type="text/css">
      html,body{
        width:99%;
        height: 98%;
      }
      .contextinfo{
      	font-size:14px;
      }
      .contextinfo .label{
        color:rgb(247,146,0);
        font-weight:bold;
        width:100px
      }
    </style>
    <script>
     $(function() {
		window.onresize=function(){
			
		}
     });
     function selectTab(e,r){
    	var iframe=$('#frame_'+r);
    	if(!iframe.attr('src') || iframe.attr('src')==""){
    		iframe.attr('src',iframe.attr('url'));
    	}
     }
    </script>
</head>
<body>
<div class="easyui-layout" style="width:100%;height:100%">
<div title="" data-options="region:'south',split:true" style="height:380px">

<div  id="main-tab" name="main-tab" class="easyui-tabs" data-options="fit:true,border:false,onSelect:selectTab" style="margin-top:0px;">
	<div id="tab_1" title="首页">
		<iframe id='frame_0' class='.tabframe' frameborder="0" url="" style="width:98%;height:98%">
		</iframe>
	</div>
</div>

</div>
<div data-options="region:'center'" style="background:lightgrey">
	<div class="easyui-panel" title="基本信息" data-options="fit:true">
	  <div style="margin:10px">
	  	<table class="contextinfo" cellpadding=5 style="width:80%">
<tr><td class="label">学号:</td><td>{*$obj["student_id"]*}</td><td class="label">姓名:</td><td>{*$obj["name"]*}</td></tr>
<tr><td class="label">院系:</td><td>{*$obj["department"]*}</td><td class="label">班级:</td><td>{*$obj["class"]*}</td></tr>
<tr><td class="label">证明附件:</td><td>{*$obj["attachment"]*}</td><td class="label">头像:</td><td>{*$obj["photo"]*}</td></tr>
	  	</table>

	  </div>
	</div>
</div>
</div>
  
</body>
</html>