    </div>
<div title="south" region="south" showSplit="false" showHeader="false" height="30" >
        <div style="line-height:28px;text-align:center;cursor:default">Copyright © 华北电力大学智能决策实验室 </div>
    </div>

    </div>
    <script type="text/javascript">
    mini.parse();

 

    function showTab(node) {
        var tabs = mini.get("mainTabs");            
        var id = "tab$" + node.id;
        var tab = tabs.getTab(id);
        if (!tab) {
            tab = {};
            tab.name = id;
            tab.title = node.text;
            tab.showCloseButton = true;
            tab.url = node.url;
            tabs.addTab(tab);
        }
        tabs.activeTab(tab);
    }        

    function onNodeSelect(e) {
        var node = e.node;
        var isLeaf = e.isLeaf;            

        if (isLeaf) {
            showTab(node);
        }
    }
	</script>

</body>