<div showHeader="false" region="west" width="180" maxWidth="250" minWidth="100" >
    <!--OutlookMenu-->
    <!-- <div class="mini-outlookmenu" url="/chdne/ui/data/outlookmenu.txt" onitemselect="onItemSelect"
        idField="id" parentField="pid" textField="text" borderStyle="border:0"
    >
    </div> -->
   	<div id="leftTree" class="mini-outlooktree" url="/psls/ui/data/outlooktree.txt" onnodeselect="onNodeSelect"
    textField="text" idField="id" parentField="pid">
	</div>
</div>



