<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link href="/psls/ui/bootstrap/css/bootstrap.css" rel="stylesheet"></link>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script type="text/javascript" src="/psls/ui/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js">
    </script>
<script type="text/javascript" src="/psls/ui/bootstrap/js/bootstrap.js"></script>

<style>
	#container1 { 
		width:160px; /*设定宽度*/ 
		text-align:left; /*文字左对齐*/ 
		float:left; /*浮动居左*/ 
		clear:none;
		overflow:hidden; /*超出宽度部分隐藏*/ 
		} 
	#container { 
		width:160px; 
		text-align:left; 
		float:right; /*浮动居右*/ 
		clear:none;
		overflow:hidden 
		} 
		#container2 { 
		width:160px; 
		text-align:left; 
		float:right; /*浮动居右*/ 
		clear:none;
		overflow:hidden 
		} 
</style>
<style>
    .pagination strong{
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #FFFFFF;
        border-color: #DDDDDD;
        border-image: none;
        border-style: solid;
        border-width: 1px 1px 1px 0;
        float: left;
        line-height: 38px;
        padding: 0 14px;
        text-decoration: none;
    }
    
</style>

<script>
$().ready(function(){
	if($("#message").val()){
		alert($("#message").val());
	}
	alert($("#type").val());
	if($("#type").val()=="dep")
		$("#")

	/*$("#del").click(function(){		
         alert(1);
		confirm("您确定要删除该员工的信息吗");		
	});*/
    $('.atn').click(function(e) {
                    
                    e.preventDefault();
                    thisHref    = $(this).attr('href');
                    
                    if(confirm('确定要删除该用户信息吗？')) {
                        window.location = thisHref;
                    }
                    
                });
    
	$.post("/psls/staff_manage/Staff_manage_c/getDepartmentAjax",
			  {},
			  function(data,status){	
				 $("#department").append(data);				 
			  });
	$("#department").change(function(){
		  $("#query").submit();
		});
});
</script>
<script type="text/javascript">
$(function () {    	
    
	// Radialize the colors
	Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
	    return {
	        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
	        stops: [
	            [0, color],
	            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
	        ]
	    };
	});
	
	// Build the chart
     chart = new Highcharts.Chart({
        chart: { 
        	renderTo: 'container1',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '按部门划分'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                    	 return '<b>'+ this.point.name +'</b>: '+ this.point.num +' 人';
                       
                    }
                }  ,             
                
		        events:{
		            click: function(e) {
		            	//alert('../staffStruct/'+e.point.type);
							window.open('../staffStruct/'+e.point.type,"_self"); //单击每个饼图打开一个页面，同时传递参数，单击了哪个饼图，题                                                                //目id是多少。
		            }
		        },
		        showInLegend: false
            }
        },
        series: [{
            type: 'pie',
            name: '人员比重',
            data: [
                   {
                       name: '财务资产',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                       y: {*$cwzc[0]['num']*},
					   txt:  '财务资产',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
					   type: '1',
					   tid: '123',
					   num:{*$cwzc[0]['num']*},
                       sliced: true,   //true代表选中。可以将正确答案默认选中。
                       selected: true
                   },
                   {
                       name: '综合管理',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                       y: {*$zhgl[0]['num']*},
					   txt: '综合管理',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
					   type:'2',
					   tid: '123',
					   num:{*$zhgl[0]['num']*}
                       
                   },
                   {
                       name: '甸顶山风电场',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                       y: {*$ddsfc[0]['num']*},
					   txt: '甸顶山风电场',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
					   type:'4',
					   tid: '123',
					   num:{*$ddsfc[0]['num']*}
                       
                   },
                   {
                       name: '计划工程',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                       y: {*$jhgc[0]['num']*},
					   txt: '计划工程',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
					   type:'5',
					   tid: '123',
					   num:{*$jhgc[0]['num']*}
                       
                   },
                   {
                       name: '安全生产',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                       y: {*$aqsc[0]['num']*} ,
					   txt: '安全生产',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
					   type:'6',
					   tid: '123',
					   num:{*$aqsc[0]['num']*} 
                       
                   }          
               
            ],
            
        }]
    });

     $('#container').highcharts({
         chart: {         	
             plotBackgroundColor: null,
             plotBorderWidth: null,
             plotShadow: false
         },
         title: {
             text: '按职称划分'
         },
         tooltip: {
     	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
         },
         plotOptions: {
             pie: {
                 allowPointSelect: true,
                 cursor: 'pointer',
                 dataLabels: {
                     enabled: true,
                     color: '#000000',
                     connectorColor: '#000000',
                     formatter: function() {
                     	 return '<b>'+ this.point.name +'</b>: '+ this.point.num +' 人';                       
                     }
                 }  ,             
                 
 		        events:{
 		            click: function(e) {
 		            	//alert(1);
 							//window.open('../?i='+e.point.type+'&id='+e.point.tid); //单击每个饼图打开一个页面，同时传递参数，单击了哪个饼图，题                                                                //目id是多少。
 		            }
 		        },
 		        showInLegend: false
             }
         },
         series: [{
             type: 'pie',
             name: '人员比重',
             data: [
                    {
                        name: '助理级',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$zlj[0]['num']*},
 					   txt:  '助理级',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type: '助理级',
 					   tid: '123',
 					   num:{*$zlj[0]['num']*},
                        sliced: true,   //true代表选中。可以将正确答案默认选中。
                        selected: true
                    },
                    {   name: '中级',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$zj[0]['num']*},
 					   txt: '中级',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type:'中级',
 					   tid: '123',
 					   num:{*$zj[0]['num']*}                       
                    },
                    {
                        name: '高级',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$gj[0]['num']*},
 					   txt: '高级',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type:'高级',
 					   tid: '123',
 					   num:{*$gj[0]['num']*}                       
                    },
                    {
                        name: '正高级',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$zgj[0]['num']*},
 					   txt: '正高级',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type:'正高级',
 					   tid: 'zgj',
 					   num:{*$jhgc[0]['num']*}                       
                    }
             ]
             
         }]
            
     });
     $('#container2').highcharts({
         chart: {         	
             plotBackgroundColor: null,
             plotBorderWidth: null,
             plotShadow: false
         },
         title: {
             text: '按学历划分'
         },
         tooltip: {
     	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
         },
         plotOptions: {
             pie: {
                 allowPointSelect: true,
                 cursor: 'pointer',
                 dataLabels: {
                     enabled: true,
                     color: '#000000',
                     connectorColor: '#000000',
                     formatter: function() {
                     	 return '<b>'+ this.point.name +'</b>: '+ this.point.num +' 人';                       
                     }
                 }  ,             
                 
 		        events:{
 		            click: function(e) {
 		            	//alert(1);
 							//window.open('../?i='+e.point.type+'&id='+e.point.tid); //单击每个饼图打开一个页面，同时传递参数，单击了哪个饼图，题                                                                //目id是多少。
 		            }
 		        },
 		        showInLegend: false
             }
         },
         series: [{
             type: 'pie',
             name: '人员比重',
             data: [
                    {
                        name: '高中及以下',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$gzjyx[0]['num']*},
 					   txt:  '高中及以下',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type: '高中及以下',
 					   tid: '123',
 					   num:{*$gzjyx[0]['num']*},
                        sliced: true,   //true代表选中。可以将正确答案默认选中。
                        selected: true
                    },
                    {   name: '中专',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$zz[0]['num']*},
 					   txt: '中专',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type:'中专',
 					   tid: '123',
 					   num:{*$zz[0]['num']*}                       
                    },
                    {
                        name: '大专',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$dz[0]['num']*},
 					   txt: '大专',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type:'大专',
 					   tid: '123',
 					   num:{*$dz[0]['num']*}                       
                    },
                    {
                        name: '本科',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$bk[0]['num']*},
 					   txt: '本科',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type:'本科',
 					   tid: 'zgj',
 					   num:{*$bk[0]['num']*}                       
                    }
                    ,
                    {
                        name: '硕士',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$ss[0]['num']*},
 					   txt: '硕士',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type:'硕士',
 					   tid: 'zgj',
 					   num:{*$ss[0]['num']*}                       
                    }
                    ,
                    {
                        name: '博士',    //name,y,sliced,selected是highchart的内置参数，下面的txt，type，tid，num是自己定义的。
                        y: {*$bs[0]['num']*},
 					   txt: '博士',  //这些是自己定义的，使用时，用this.point.txt或者e.point.txt来用。
 					   type:'博士',
 					   tid: 'zgj',
 					   num:{*$bs[0]['num']*}                       
                    }
             ]
             
         }]
            
     });
});

</script>
</head>
<body>
<div style="clear:both;">
<input type="hidden" value="{*if (isset($type))*}{*$type*}{*/if*}" id="type"/>
<div id="department" style="min-width:33%; height: 400px; margin: 0 auto"></div>
<div id="status" style="min-width: 33%; height: 400px; margin: 0 auto"></div>
<div id="education" style="min-width:34%; height: 400px; margin: 0 auto"></div>
</div>
<div style="width:100%;text-align:center;">
        <table style="width:80%;margin-top:20px;margin-left:200px;margin-right:10px;margin-bottom:10px">
        	
        </table>           
</div>
<input type="hidden" value="{*if $message*}{*$message*}{*/if*}" id="message"/>
<table  class="table table-bordered" width="60%" style="margin-top:20px;margin-left:10px;margin-right:10px;margin-bottom:10px">
	<tr>
		<tr>
        <th width="5%"><center>序号</center></th>
        <th width="8%"><center>姓名</center></th>        
        <th width="10%"><center>部门</center></th>
        <th width="10%"><center>岗位</center></th>
        <th width="8%"><center>职称</center></th>
        <th width="8%"><center>学历</center></th>
        <th width="5%"><center>班组</center></th>
        <th width="5%"><center>性别</center></th>
        <th width="10%"><center>年龄</center></th>
        <th width="10%"><center>操作</center></th>
    </tr>
    {*$i=1*}
	</tr>	
	{*foreach $userList as $list*}
		<tr>
			<td><center>{*$i++*}</center></td>
            <td><center>{*$list['name']*}</center></td>
            
             <td><center>{*$list['department_name']*}</center></td>
              <td><center>{*$list['role_name']*}</center></td>
              <td><center>{*$list['staff_status']*}</center></td>
              <td><center>{*$list['educational_background']*}</center></td>
            <td><center>
                {*if $list['work_group']==0*}无{*/if*}
               {*if $list['work_group']==1*}甲值{*/if*}
               {*if $list['work_group']==2*}乙值{*/if*}
                </center>
            </td>
            <td><center>{*if $list['gender']==0*}女{*/if*}
               {*if $list['gender']==1*}男{*/if*}</center></td>
            <td><center>{*$list['age']*}</center></td>
            <td>
            <a class="atn" id="del" href="/chdne/staff_manage/Staff_manage_c/delUser/{*$list['id']*}/?name={*$list['name']*}&department_id={*$list['department_id']*}">删除</a>     
           <a class="btn btn-info" href="/chdne/staff_manage/Staff_manage_c/updateUser/{*$list['id']*}">更新</a>         
            </td>
		</tr>
	{*/foreach*}
</table>
		{*if $page_link != ''*}
            <div style="margin-bottom: 50px;">
            <span class="page_link pull-right pagination">{*$page_link*}</span></div>
        {*/if*}

</body>
</html>