<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>      
<link href="/psls/ui/bootstrap/css/bootstrap.css" rel="stylesheet"> </link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script type="text/javascript" src="/psls/ui/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/psls/ui/js/jquery.validate.js"></script>
<script type="text/javascript" src="/psls/ui/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/psls/ui/js/jquery.tooltip.js"></script>
<script type="text/javascript" src="/psls/ui/bootstrap/js/bootstrap.js"></script>


<style>
    .pagination strong{
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #FFFFFF;
        border-color: #DDDDDD;
        border-image: none;
        border-style: solid;
        border-width: 1px 1px 1px 0;
        float: left;
        line-height: 38px;
        padding: 0 14px;
        text-decoration: none;
    }
    
</style>

<style>
  .input {
    height: 30px;
    margin-bottom: 0;
  }
  .dd{
    height: 27px;
    margin-bottom: 0px;
    margin-top: 4px;
    padding: 3px 7px;
    text-align: left;
    vertical-align: middle;
  }
  .ddd{
    display: inline-block;
    padding: 3px 7px;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-user-select: none;
  }
</style>
<script>
$().ready(function() { 

    $.post("/psls/staff_manage/Staff_manage_c/getDepartmentAjax",
              {},
              function(data,status){    
                 $("#department").append(data);              
              });
    $("#department").change(function(){
        //alert($("#department").val());
        $.post("/psls/staff_manage/Staff_manage_c/getRoleAjax",
                  {
                    departmentId:$("#department").val()
                  },
                  function(data,status){
                      //alert(data);
                      $("#role").empty();
                      $("#role").append("<option value=''>请选择岗位</option>");
                     $("#role").append(data);
        });
            
    });
});
</script>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <form name="query" id="query" class="navbar-form navbar-left" role="search" action="/psls/staff_manage/Staff_manage_c/index" method="post">
          <div class="form-group">
            <span class="btn dd">部门名称</span>
            <select class="dd" name="department" id="department">
                 <option value="">部门名称</option>
            </select>
            <span class="btn dd">岗位名称</span>
            <select class="dd" name="role" id="role">
                <option value="">岗位选择</option>
            </select>
            <span class="btn dd">模糊查询</span>
            <input title="请注意，当点击 input 元素时，tooltip 消失" id="key" name="key" type="text" class="dd" placeholder="姓名">
          </div>
          <button type="submit" class="ddd btn-primary dd"><span class="glyphicon glyphicon-search"></span>&nbsp;搜索</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </nav>
    <nav class="navbar navbar-default" role="navigation" >
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <form class="navbar-form navbar-left" role="search" action="/psls/work_ready/work_ready_c">
          <div class="form-group">
            <span class="btn dd">公司名称</span>
            <select class="dd" name="company">
              {*if $company==NULL*}
                <option value="">公司名称</option>
              {*else*}
                <option value="{*$company*}">{*$company*}</option>
              {*/if*}
                <option onclick="Submit.click()" value="全部">全部</option>
                <option onclick="Submit.click()" value="思茅公司">思茅公司</option>
                <option onclick="Submit.click()" value="江城公司">江城公司</option>
                <option onclick="Submit.click()" value="墨江公司">墨江公司</option>
                <option onclick="Submit.click()" value="镇沅公司">镇沅公司</option>
                <option onclick="Submit.click()" value="宁洱公司">宁洱公司</option>
                <option onclick="Submit.click()" value="景东公司">景东公司</option>
                <option onclick="Submit.click()" value="景谷公司">景谷公司</option>
                <option onclick="Submit.click()" value="西盟公司">西盟公司</option>
                <option onclick="Submit.click()" value="澜沧公司">澜沧公司</option>
                <option onclick="Submit.click()" value="孟连公司">孟连公司</option>
            </select>
            <span class="btn dd">管控层级</span>
            <select class="dd" name="rank">
              {*if $rank==NULL*}
                <option value="">管控层级</option>
              {*else*}
                <option value="{*$rank*}">{*$rank*}</option>
              {*/if*}
                <option onclick="Submit.click()" value="全部">全部</option>  
                <option onclick="Submit.click()" value="局">局</option>
                <option onclick="Submit.click()" value="公司">公司</option>
            </select>
            <span class="btn dd">复核人员</span>
            <select class="dd" name="check_people">
                {*if $check_people==NULL*}
                <option value="">复核人员</option>
                {*else*}
                <option value="{*$check_people*}">{*$check_people*}</option>
                {*/if*}
                <option onclick="Submit.click()" value="全部">全部</option>
                <option onclick="Submit.click()" value="张宏宇">张宏宇</option>
                <option onclick="Submit.click()" value="田桓吉">田桓吉</option>
                <option onclick="Submit.click()" value="陈志雄">陈志雄</option>
                <option onclick="Submit.click()" value="闵琳怀">闵琳怀</option>
                <option onclick="Submit.click()" value="贺飞">贺飞</option>
            </select>
            <input  type="text" class="dd" placeholder="关键字">
          </div>
          <button type="submit" class="ddd btn-primary dd"><span class="glyphicon glyphicon-search"></span>&nbsp;搜索</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </nav>
     <div align="center"><FONT style="FONT-SIZE:30pt; FILTER: shadow(color=#af2dco); WIDTH: 100%; LINE-HEIGHT: 100%;" size=6 >公司管理表</FONT><br/><br/></div>
<input type="hidden" value="{*if $message*}{*$message*}{*/if*}" id="message"/>
<form name="delete" action="/psls/staff_manage/Staff_manage_c/deleteUser" method="post">
    
    <script type="text/javascript">
      $("#chk_all1").click(function(){
          $("input[name='del[]']").attr("checked",$("#chk_all1").attr("checked"));   //全选/取消全选
          $("input[name='del_all1']").attr("checked",false);
          $("input[name='del_all']").attr("checked",false);
      });
      $("#del_all1").click(function(){  
        $("input[name='del[]']").each(function(){
          $(this).attr("checked",false);
        });
        $("input[name='chk_all1']").attr("checked",false);
        $("input[name='chk_all']").attr("checked",false);  
    });
    </script> 
    <table class="table table-condensed table-bordered">
    	<tr>
            <th width="5%"><center>序号</center></th>
            <th><center>姓名</center></th>        
            <th><center>公司</center></th>
            <th><center>修改</center></th>
            <th><center>删除</center></th> 
        </tr>
        {*$i=1*}
    	</tr>	
    	{*foreach $userList as $list*}
    		<tr>
    			<td><center>{*$i++*}</center></td>
                <td><center>{*$list['name']*}</center></td>
                <td><center>{*$list['department_name']*}</center></td>
                <td><center>   
                    <a class="atn" href="/psls/staff_manage/Staff_manage_c/updateUser/{*$list['id']*}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;修改</a>  </center>       
                </td>
                <td><center>{*if $user->getName()!=$list['name']*}<input type="checkbox" name="del[]" value="{*$list['id']*}"/>{*/if*}</center></td>
    		</tr>
    	{*/foreach*}
    </table>
    <br>
    <table style="width:90%">
        <tr>
            <td>
                <button type="submit" class="btn btn-default navbar-default"><strong>彻底删除</strong></button>&nbsp;&nbsp;<input type="checkbox" name="chk_all" id="chk_all" value="id"/>&nbsp;&nbsp;<strong>全选</strong>&nbsp;&nbsp;<input type="checkbox" name="del_all" id="del_all" value="id"/>&nbsp;&nbsp;<strong>全不选</strong>
                
            </td>
        </tr>
    </table>
      <script type="text/javascript">
          $("#chk_all").click(function(){
              $("input[name='del[]']").attr("checked",$("#chk_all").attr("checked"));   //全选/取消全选
              $("input[name='del_all']").attr("checked",false);
              $("input[name='del_all1']").attr("checked",false);
          });
          $("#del_all").click(function(){  
            $("input[name='del[]']").each(function(){
              $(this).attr("checked",false);
            });
            $("input[name='chk_all']").attr("checked",false);
            $("input[name='chk_all1']").attr("checked",false);  
        });
      </script>
</form>

		{*if $page_link != ''*}
            <div style="margin-bottom: 50px;">
            <span class="page_link pull-right pagination">{*$page_link*}</span></div>
        {*/if*}
<script type="text/javascript">

</script>
</html>