

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="jquery,ui,easy,easyui,web">
  <meta name="description" content="easyui help you build your web page easily!">
  <title>jQuery EasyUI Demo</title>

  <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="/psls/ui/jquery-easyui/themes/icon.css">
 
</head>
 <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="/psls/ui/jquery-easyui/jquery.easyui.min.js"></script>
  <div class="easyui-tabs" style="width:1200px;height:1000px;"  >
   
	<div title="作业过程监控" style="padding:10px;">
       <iframe src="/psls/staff_manage/staff_manage_c/test1" width="99%" height="99%"> </iframe>
    </div>
	
	
	</div>

</html>