	<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html sytle="width:100%">
<head>
<link href="/psls/ui/bootstrap/css/bootstrap.css" rel="stylesheet"></link>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head><script type="text/javascript" src="/psls/ui/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/psls/ui/js/jquery.validate.js"></script>
<script type="text/javascript" src="/psls/ui/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/psls/ui/js/jquery.tooltip.js"></script>
<script type="text/javascript" src="/psls/ui/bootstrap/js/bootstrap.js"></script>
<style>
  .table-center td {
    text-align: center;
  }
  .table-center input {
    height: 30px;
    margin-bottom: 0;
  }
</style>
<script>
function goback () {
  window.frameElement.contentWindow.history.go(-1);
}
$().ready(function() {    
	$.post("/psls/staff_manage/Staff_manage_c/getDepartmentAjax",
			  {
				departmentId:{*$user['department_id']*}
			 },
			  function(data,status){	
				 $("#department").append(data);	
				 $.post("/psls/staff_manage/Staff_manage_c/getRoleAjax",
						  {
							departmentId:$("#department").val(),
							roleId      : {*$user['role_id']*}
						  },
						  function(data,status){
							  
							  $("#role").empty();
							  $("#role").append("<option value=''>请选择岗位</option>");
							 $("#role").append(data);
				});
			  });
	
	$("#department").change(function(){
		//alert($("#department").val());
		$.post("/psls/staff_manage/Staff_manage_c/getRoleAjax",
				  {
					departmentId:$("#department").val(),
					roleId      : {*$user['role_id']*}
				  },
				  function(data,status){
					  //alert(data);
					  $("#role").empty();
					  $("#role").append("<option value=''>请选择岗位</option>");
					 $("#role").append(data);
		});
			
	});
});
$().ready(function(){
	
	$("#staff_add").validate({
    rules: {
      name: "required",
     account: "required",
      department: "required",
      role: "required"
      },
    messages: {
      name: "<font color='red'>请输入员工姓名</font>",
     account: "请输入登录帐户",
      department: "<font color='red'>请选择员工所在部门</font>",
      role:"请选择员工岗位"
      }
    });	
  
});
</script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li class="dropdown"><a href="/psls/staff_manage/Staff_manage_c"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;&nbsp;返回</a></li>
    </ul>
</nav>


<form method="post" id="staff_add" action="/psls/staff_manage/Staff_manage_c/updateExc/{*$user['id']*}/{*$user['department_id']*}">
	<table name="father" id="father" style="width:70%;margin-left:3%"  class="table table-bordered">
		<tr>
			<td colspan="2">人员信息修改</td>
		</tr>
		<tr>
			<td width="10%" style="text-align:right">姓名</td>
			<td width="60%"><input type="text" name="name" id="name" value="{*$user['name']*}"/></td>			
		</tr>
		
		<tr>
			<td style="text-align:right">性别</td>
			<td><select name="gender" id="gender">
				<option value="1">男</option>
				<option value="0">女</option>
			</select></td>			
		</tr>
		<tr>
			<td style="text-align:right">公司</td>
			<td><select id="department" name="department">
				<option value="">请选择公司</option>
			</select></td>			
		</tr>
		<tr>
			<td style="text-align:right">部门</td>
			<td><select id="role" name="role">
				<option value="">请选择部门</option>
			</select></td>			
		</tr>
		
		<tr>
			<td style="text-align:right">权限</td>
			<!--<td> <input type="text"  id="birth_date"  name="birth_date" onclick="WdatePicker({dateFmt: 'yyyy-M-dd'})" value="{*$user['birthdate']*}"/></td>-->
			<!--<td width="60%"><input type="text" name="powid" id="powid" value="{*$user['pow_id']*}"/></td>-->
			<td width="60%"> <select  name="powid" id="powid"> 
				<option value="1">浏览</option>
				<option value="2">审批</option>
				<option value="3">修改</option>
			</select> </td>	
		   			
		</tr>
		<tr>
			<td> </td>
			<td>
				<button class="btn btn-primary" type="submit" id ="Submit" name="Submit">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;</button>
	          	<button class="btn btn-danger" type="reset" id="Submit" name="Submit2">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;</button>
			</td>
		
		</tr>
	</table>
</form>

</body>
</html>