<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link href="/psls/ui/bootstrap/css/bootstrap.css" rel="stylesheet"></link>
<script type="text/javascript" src="/psls/ui/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/psls/ui/jquery-easyui/jquery-1.8.0.min.js">
</script>
<script type="text/javascript" src="/psls/ui/js/jquery.validate.min.js">
</script>    

<script type="text/javascript" src="/psls/ui/bootstrap/js/bootstrap.js"></script>

<style>
  .input {
    height: 30px;
    margin-bottom: 0;
  }
  .dd{
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
</style>

<script type="text/javascript">
function goback () {
  window.frameElement.contentWindow.history.go(-1);
}

$().ready(function() { 

	$.post("/psls/staff_manage/Staff_manage_c/getDepartmentAjax",
			  {},
			  function(data,status){	
				 $("#department").append(data);				 
			  });
	$("#department").change(function(){
		//alert($("#department").val());
		$.post("/psls/staff_manage/Staff_manage_c/getRoleAjax",
				  {
					departmentId:$("#department").val()
				  },
				  function(data,status){
					  //alert(data);
					  $("#role").empty();
					  $("#role").append("<option value=''>请选择岗位</option>");
					 $("#role").append(data);
		});
			
	});
});
$().ready(function(){
	
	$("#staff_add").validate({
    rules: {
      name: "required",
     account: "required",
      department: "required",
      role: "required"
      },
    messages: {
      name: "<font color='red'>请输入员工姓名</font>",
     account: "<font color='red'>请输入登录帐户</font>",
      department: "<font color='red'>请选择员工所在公司</font>",
      role:"<font color='red'>请选择员工部门</font>"
      }
    });	
  
});
</script>

<form id="staff_add" name="staff_add" method="post"  action="/psls/staff_manage/Staff_manage_c/saveStaff">
	<div class="row" style="width:100%">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<div class="page-header">
	            <h3><font color="#2A6496"><span class="glyphicon glyphicon-file"></span></font>&nbsp;&nbsp;<font face="黑体">员工信息编辑</font></h3>
	        </div>
			<dl class="dl-horizontal">
			    <dt>姓名：</dt>
			    <dd class="dd"><input class="input  table-bordered" type="text" id="name" name="name" value="" style="width:80%" /></dd>
			    <dt>性别：</dt>
			    <dd class="dd"><select class="input table-bordered" name="gender" id="gender" style='width:80%'>
			    	<option value="1">男</option>
					<option value="0">女</option>
			    </select></dd>
			    <dt>公司：</dt>
			    <dd><select class="input table-bordered" id="department" name="department" style='width:80%'>
			    	<option value="">请选择公司</option>
			    </select></dd>
			    <dt>部门：</dt>
			    <dd><select class="input table-bordered" id="dept" name="dept" style='width:80%'>
			    	<option value="">请选择部门</option>
			    </select></dd>
			    
			    <dt class="dd">角色：</dt>
			    <dd class="dd"><select class="input table-bordered" id="role" name="role" style='width:80%'>
			    	<option value="">请选择岗位</option>
			    </select></dd>
			    <dt>出生日期：</dt>
			    <dd><input class="Wdate input table-bordered" id="birth_date"  name="birth_date" style='width:80%' onclick="WdatePicker()"></dd>
			</dl>
			<br>
			<div style="text-align:center">
	          <button class="btn btn-primary" type="submit" id ="Submit" name="Submit">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;</button>
	          <button class="btn btn-danger" type="reset" id="Submit" name="Submit2">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;</button>
	        </div>
		</div>
		<div class="col-xs-3"></div>
	</div>
	</table>
</form>
</html>